[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scRepertoire"]
	path = scRepertoire
	url = https://github.com/ncborcherding/screpertoire
